<!DOCTYPE html>
<html>
    <head>
        <title>Lil'DIY | Explore</title>
        <link href="/public/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="featured">
            <h1>Featured</h1>
            {{#each featuredData}}
                <div class="project-preview">
                    <a href="/makers/{{url}}/projects/{{projectId}}">
                        <img src="{{image}}" alt="{{title}}" title="{{title}} by {{nickname}}"/>
                    </a>
                </div>
            {{/each}}
        </div>
    </body>
</html>