<!DOCTYPE html>
<html>
    <head>
        <title>Lil'DIY | Maker Project</title>
        <link href="/public/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="project">
            <div id="details">
                <img src="{{avatar}}">
                <div id="detail-text">
                    <h1>{{title}}</h1>
                    <p>Made by {{nickname}}</p>
                </div>
            </div>
            <div id="clip">
                <img src="{{image}}">
            </div>
        </div>
    </body>
</html>